In [1]:
print(4.2)
print(type(4.2)) #menyebutkan tipe data

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

In [2]:
print('Hacktiv8')

Hacktiv8

In [3]:
print(type('Hacktiv8'))

<class 'str'>

In [4]:
print(type(True))

print(type(False))

<class 'bool'>
<class 'bool'>

In [5]:
n=300
print(n)

300

In [7]:
a=b=c=300
print(a,b,c)

300 300 300

In [8]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

In [15]:
UNIT= "Suralaya"
MESIN = 8
RUNNING = True
print(UNIT, MESIN, RUNNING)

Suralaya 8 True

In [16]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

In [17]:
a=34
b=2
a+b

36

In [19]:
a = 4
b = 3
print(b % a)

3

In [20]:
a = 10
b = 20
print(a == b) # sama dengan

print(a != b) #tidak sama dengan

print(a <= b) 

print(a >= b)

False
True
True
False

In [33]:
# + Operators
s = 'nam '
t = 'num '
u = 'salam'

print(s + t)
print(s + t + u)
print('Atang ' + 'salam')
print('Atang ' + '86')

nam num
nam num salam
Atang salam
Atang 86

In [36]:
s = 'nam'

print(s in 'nameena Zhafira') #mencari kata2 yang similar

print(s in 'numa Avara')

True
False

In [37]:
# Case Conversion
s = 'Suralaya'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Suralaya
suralaya
sURALAYA
Suralaya
SURALAYA

In [39]:
a = ['nam', 'num', 'salam']

print(a)

['nam', 'num', 'salam']

In [50]:
a = ['foo', 'bar', 'baaz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a != b

True

In [51]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

In [52]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[0])
print(a[3])

foo
qux

In [53]:
print(a[-1])
print(a[-6])

corge
foo

In [62]:
a = ['foo', 'bar', 'baaz', 'qux', 'quux', 'corge']

a[2:5]

['baaz', 'qux', 'quux']

In [63]:
print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baaz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baaz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baaz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baaz', 'qux', 'quux', 'corge']

In [64]:
print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baaz', 'qux', 'quux', 'corge']
6
baaz
qux

In [66]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 'namnum'
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'namnum', 'qux', 'quux', 20]

In [68]:
del a[3]
print(a)

['foo', 'bar', 'namnum', 20]

In [71]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

In [72]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t[0])

print(t[-1])

foo
corge

In [73]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

s1

'foo'

In [74]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

In [75]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

Twins
Rockies

In [76]:
MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [77]:
MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [79]:
tim = {}
type(tim)

tim['fname'] = 'Hack'
tim['lname'] = 'PTP'
tim['age'] = 51
tim['spouse'] = 'Edna'
tim['children'] = ['Ralph', 'Betty', 'Joey']
tim['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [80]:
tim

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [81]:
print(tim['fname'])
print(tim['lname'])

Hack
PTP

In [82]:
print(tim['children'])
print(tim['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [86]:
print(person['pets'])
print(person['pets']['cat'])
{'dog': 'Fido', 'cat': 'Sox'}

{'dog': 'Fido', 'cat': 'Sox'}
Sox

{'dog': 'Fido', 'cat': 'Sox'}

In [87]:
d = {'a': 10, 'b': 20, 'c': 30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

In [88]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [90]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True